# Entornos
.env

# Docker
mysql_data/
docker/mysql_data/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Node global (por si acaso)
node_modules/

# Builds
dist/

# IDE
.vscode/
.idea/

# Backups de base de datos
*.sql
backup_*.sql

# Archivos subidos por usuarios (storage)
backend/storage/app/public/servicio_social/documentos/